.music-body {
  background-color: #1a1a1a;
  color: white;
}

/* 헤더관련 */

.music-header__left__text {
  color: white;
}

/* For you 기타등등 버튼 */

.play-list-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  margin-bottom: 20px;
  height: 60px;
}

.play-list-btn__left-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.play-list-btn__left-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-right: 10px;
  font-weight: bold;
  padding: 20px 0px;
}

.play-list-btn__notsel {
  opacity: 0.3;
}

.play-list-btn__sel {
  border-bottom: 2px solid white;
}

.play-list-btn__my-music {
  width: 70px;
  height: 30px;
  border-radius: 30px;
  border: white solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 5px;
  opacity: 0.5;
}

/* 중간에 큰 프로필 뮤직 등 */

.fri-music {
  background-color: #555555;
  height: 715px;
  margin: 25px 30px;
  border-radius: 20px;
}

.fri-music__top {
  margin: 25px 30px 0px 30px;
  height: 120px;
  background-color: darkcyan;
  border-radius: 20px 20px 0px 0px;
}

/* 버튼관련 */

.fri-music__list {
  margin: 0px 30px 0px 30px;
  display: flex;
  height: 480px;
  flex-direction: column;
  background-color: #6e5b5d;
  border-radius: 0px 0px 20px 20px;
}
