/* 변수, 색상 관리하는곳 */

:root {
  --black-main: #020715;
  --ui-color: #f9f9f9;

  /* 배경색관련 */
  --blue-50: #eceff1;
  --blue-100: #cfd8de;
  --blue-200: #b0bec5;
  --blue-300: #90a4ae;
  --blue-400: #78909c;
  --blue-500: #607d8b;
  --blue-600: #546e7a;
  --blue-700: #455a64;
  --blue-800: #37474f;
  --blue-900: #263238;
}
