.status-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  flex-direction: row;
  padding: 10px 30px 3px 30px;
  font-size: 16px;
  color: var(--black-main);
  font-weight: bold;
  background-color: var(--ui-color);
}

.status-bar__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-bar__left__time {
  align-items: center;
  margin-right: 5px;
}

.status-bar__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.battary-text {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 5px;
}

.bi-battery-half {
  width: 20px;
  height: 20px;
  transform: rotate(270deg);
  position: absolute;
  right: 9px;
  top: 11px;
}

/* 아이콘관련 */

.status-bar__right__icons {
  display: flex;
  align-items: center;
}

.status-bar__left__icons {
  display: flex;
  align-items: center;
}

.status-bar .bi {
  margin-left: 6px;
}

.bi-wifi,
.bi-reception-4 {
  width: 18px;
  height: auto;
  top: 50px;
}
