/* 광고관련 */

.cf-area {
  display: flex;
  height: 85px;
  width: auto;
  margin: 0px 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* background-color: var(--blue-100); */
  border-radius: 20px;
  border: solid 1px #dddddd;
  flex-wrap: nowrap;
}

/* 광고 */
.cf-more {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 0px 30px;
  background-color: aliceblue;
  border-radius: 20px;
}

.cf-more:hover,
.cf-area:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

/* ========================= */
/* 시험장 */
